

#header{
  background-image: url('./img/tren.jpg');
  background-size: cover; /*Hace que la foto no se estire*/
  padding: 10vmax 0;
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
    
    color: whitesmoke;
}
img{
  margin: 10vmin;
  height: 50vh;
  width: auto;
}